In [18]:
import pandas as pd
from django.db import models

In [12]:
df = pd.read_csv("ticketing_export_2023_03_24_11_27_16.csv", encoding='latin1')
df

C:\Users\tepap\AppData\Local\Temp\ipykernel_20848\1082850911.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("ticketing_export_2023_03_24_11_27_16.csv", encoding='latin1')

,order_id,shop_name,event_name,event_category,event_subcategories,first_event_date_start,last_event_date_end,first_name,last_name,email,...,geolocation_street_number,geolocation_locality,geolocation_postal_code,geolocation_sub_locality,geolocation_admin_level_1,geolocation_admin_level_2,geolocation_country_code,geolocation_latitude,geolocation_longitude,ticket_pdf_link
0,83e76600-578b-11e8-ad2b-d173c948ee97,Import,Data preview 2016,other,other,09/12/2016 17:00:00,09/12/2016 21:00:00,Hazel,Good,placeholder5370@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,840eb3f0-578b-11e8-a5c9-85d10625a2f9,Import,Data preview 2016,other,other,09/12/2016 17:00:00,09/12/2016 21:00:00,Anthony,Chandler,placeholder5373@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,841e4200-578b-11e8-92cd-417a1e0ce789,Import,Data preview 2016,other,other,09/12/2016 17:00:00,09/12/2016 21:00:00,Kash,Atkinson,placeholder5374@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,842c41a0-578b-11e8-a504-617e561097f4,Import,Data preview 2016,other,other,09/12/2016 17:00:00,09/12/2016 21:00:00,Tanner,Padilla,placeholder5375@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8464e380-578b-11e8-aa96-7bf1a2132ee7,Import,Data preview 2016,other,other,09/12/2016 17:00:00,09/12/2016 21:00:00,Jaylene,Browning,placeholder5379@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12204,1bee9b30-5789-11e8-a7bd-d12079e866bb,Import,Data preview 2017,other,other,09/11/2017 17:00:00,09/11/2017 21:00:00,Rex,Carrillo,placeholder19@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12205,1c035b00-5789-11e8-a03b-15588bc0df41,Import,Data preview 2017,other,other,09/11/2017 17:00:00,09/11/2017 21:00:00,Josh,Benitez,placeholder23@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12206,1c18f0f0-5789-11e8-bb27-41e04e6b3a0e,Import,Data preview 2017,other,other,09/11/2017 17:00:00,09/11/2017 21:00:00,Aditya,Hubbard,placeholder27@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12207,1c1e0510-5789-11e8-9575-e35e5b09ce1c,Import,Data preview 2017,other,other,09/11/2017 17:00:00,09/11/2017 21:00:00,Griffin,Barker,placeholder28@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12208,1c2e41c0-5789-11e8-8773-033b5a97e112,Import,Data preview 2017,other,other,09/11/2017 17:00:00,09/11/2017 21:00:00,Evan,Fox,placeholder31@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
for row in df:
    print('Transaction', row['order_id'])

TypeError: string indices must be integers, not 'str'

In [ ]:
with open('names.csv', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        print(row['first_name'], row['last_name'])